<form name="movieinsertform" #movieInsertForm="ngForm" (ngSubmit)="onSubmit()" #movieinsertform="ngForm" novalidate>
    <!-- Movie Name -->
    <div class="form-group">
      <label for="movieName">Movie Name:</label>
      <input 
        type="text" 
        id="movieName" 
        name="movieName" 
        class="form-control" 
        required 
        [(ngModel)]="movie.movieName">
      <div *ngIf="movieinsertform.submitted && !movie.movieName" class="error">
        Movie name is required.
      </div>
    </div>
  
    <!-- Category -->
    <div class="form-group">
      <label for="category">Category:</label>
      <input 
        type="text" 
        id="category" 
        name="category" 
        class="form-control" 
        required 
        [(ngModel)]="movie.category">
      <div *ngIf="movieinsertform.submitted && !movie.category" class="error">
        Category is required.
      </div>
    </div>
  
    <!-- Release Year -->
    <div class="form-group">
      <label for="releaseYear">Released Year:</label>
      <input 
        type="number" 
        id="releaseYear" 
        name="releaseYear" 
        class="form-control" 
        required 
        [(ngModel)]="movie.releaseYear">
      <div *ngIf="movieinsertform.submitted && !movie.releaseYear" class="error">
        Released year is required and must be valid.
      </div>
    </div>
  
    <!-- Picture -->
    <div class="form-group">
      <label for="picture">Movie Picture:</label>
      <input 
        type="file" 
        id="picture" 
        name="picture" 
        class="form-control" 
        (change)="onFileSelect($event)" 
        required>
      <div *ngIf="movieinsertform.submitted && !movie.picture" class="error">
        Movie picture is required.
      </div>
    </div>
  
    <!-- Additional Information -->
    <div class="form-group">
      <textarea 
      id="additionalInfo" 
      name="additionalInfo" 
      class="form-control" 
      [(ngModel)]="movie.additionalInfo">
      {{ movie.additionalInfo || '' }}
    </textarea>
    </div>
  
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Insert Movie</button>
  </form>
  