# Ignore node_modules
node_modules

# Ignore npm debug logs
npm-debug.log

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore temporary files and directories
*.log
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment files (if sensitive)
.env
